API_ID=
API_HASH=
BOT_TOKEN= 6924002790:AAEDDX81bKuilEc7rMyQROZguCPgWCR_22k
LOGGER_ID= -1002052189895
MONGO_DB_URI= mongodb+srv://nox:nox@nox.0erqdpv.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 5154912723
STRING_SESSION=
